@charset "utf-8";
@import 'partials/reset';
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500,600,700,700i,800,900&subset=latin-ext');

$main-font:    'Raleway', sans-serif;
$alternate-font:  'Montserrat', sans-serif;
$subtle-font:	Georgia, "Times New Roman", Times, serif;
$background-color: #50514F;		// grey
$darken-color: #404040;			// dark grey
$btn-text: #fff;				// white
$title-color: #666;				// light grey
$highlight-color: #247BA0;		// blue


$font-size-h1: 64px;
$font-size-h2: 46px;
$font-size-h3: 20px;
$font-size-h4: 14px;
$font-size-h5: 13px;
$font-size-h6: 13px;
$font-size-para: 16px;
$font-size-buttons: 16px;
// site-wide variables (colours, fonts etc)
// @import 'partials/Variables';

// base plugins/preloads
@import 'partials/bootstrap';
@import 'partials/icomoon';

// general page stylings
@import 'partials/general';
@import 'partials/typography';

@import 'partials/contentStyles';
// sidebar
@import 'partials/fixedColumn';
@import 'partials/buttons';

// Page sections
@import 'partials/hero';
@import 'partials/skills';
@import 'partials/projects';
@import 'partials/about';
@import 'partials/resume';
@import 'partials/contact';
@import 'partials/responsive';

/*
font 			- styles
general style 	- styles
typography 		-typography
content styles
fixed column
button
section
?????
portfolio
contacts
*/