extends includes/layout

block content
	.content
		.hero
			#title
				h1 Reed Jones
			#subtitle
				h2 Student Developer<br>Learning stuff, solving problems, finding solutions.
			#about-me
				p I like a good challenge. I built this website with #[a(href="https://pugjs.org" class="highlight") Pug], #[a(href="http://sass-lang.com/" class="highlight") Sass], and #[a(href="https://www.typescriptlang.org/" class="highlight") TypeScript], tools I had never used before. I took the opportunity to try something new. I often jump in over my head, but always seem to find my way out. I built myself a cabin, spent six months living in Nicaragua learning how to surf, tree planted for 5 seasons and help build the World Cup Alpine Downhill Ski Race course in Lake Louise, Alberta.

				p #[a(href="https://www.valleymuseumarchives.ca/") #[img(src="img/vmas.jpg" id="vmasImg")]] I am full stack developer. I have experience in various backend technologies including PHP and Node.JS, as well as, database technologies including MYSQL, PostgreSQL, and T-SQL, and frontend technologies such as HTML5 / CSS3 / Javascript / JQuery. I built the Wordpress and Omeka themes for #[a(href="https://www.valleymuseumarchives.ca/" class="highlight") Valley Museum &amp; Archive Society]. 

				p #[a(href="https://minesweeper.zone") #[img(src="img/minesweep.jpg" id="minesweepImg")]] My latest pet project is #[a(href="https://minesweeper.zone" class="highlight") Minesweeper.zone] where I have implimented a minesweeper clone and am slowly converting it into a virtual desktop.

				p I am currently finishing my third semester in Computer Engineering Technologies at the Northern Alberta Institute of Technology in Edmonton Alberta, and look forward to graduating December 2017.
			#contact-me
				p Get In Touch
				p #[a(href="mailto:reedjones@reedjones.com" class="highlight") reedjones@reedjones.com]

				p #[a(href="https://github.com/reed-jones") #[img(src="img/GitHub-Mark-32px.png" style="height:32px; width: auto;")]] #[a(href="https://www.linkedin.com/in/reedgjones/") #[img(src="img/In-Black-34px-TM.png" style="height:32px; width: auto;")]]