extends includes/layout

block content
	.content
		.hero
			#title
				h1 Reed Jones
			#subtitle
				h2 Student Developer:<br>Learning stuff, solving problems, finding solutions.
			#about-me
				p I like a good challenge. Whether that challenge is building myself a house, traveling the world, or writing the best code I can...

				p Things I know: wordpress, html, pug (formerly jade), css, sass, javascript, php, node.js, mysql, postgresql, ms-sql, python, c#, c, assembly. This site was built using sass/pug/typescript. 

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate odio a est vestibulum porttitor. Phasellus quis rutrum nisl. Aenean pellentesque et ligula congue rutrum. Curabitur congue velit non nulla viverra, sit amet lacinia urna tincidunt. Nullam vulputate massa sed erat blandit pharetra. Nam maximus quis purus eu consequat. Pellentesque ac nisi ut dolor vulputate auctor nec nec ligula. Integer et elit a eros condimentum euismod a in libero. Duis vitae pellentesque neque, vitae facilisis quam.

				p Nullam suscipit, nulla vel volutpat tristique, quam dui sagittis tortor, vitae accumsan ligula metus id mi. Praesent nec dolor urna. Nunc sodales non eros ac posuere. In ornare tempor sem, sed ullamcorper quam congue vitae. Vestibulum in interdum purus. Proin ac dui eget quam auctor suscipit ac nec purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse quis dui sit amet tortor malesuada imperdiet.


				p abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz