
@media only screen and  (max-width: 1392px) {
	.resum-header {
		margin-bottom:40px;
	}
	.bold-title {
		width:100%;
	}
}

@media only screen and  (max-width: 1064px) {
	.column-wrap {
		width:100%;
		padding-right:0;
		padding-left:0;
		overflow-x: hidden;
	}
	.fixed-column, .parallax-title  {
		display:none;
	}
	.hero-wrap {
		padding:70px 0 0;
		background:#fff;
	}
	.content {
	    padding: 70px 20px 0;
	}
	.content .container {
		width:100%;
	}
	.hero-image-wrap {
		top:calc(5% + 70px);
	}
	.hero-item {
	    top: 70px;
	    left:0;
	    right: 0;
	    height: auto;
		bottom:0;
	}
}
@media only screen and  (max-width: 768px) {
	.inline-facts {
	    width: 50%;
		margin-bottom:40px;
	}
	.hero-wrap-item {
		padding:0 20px;
	}
	.section-title h2 , .hero-wrap-item h2 {
		font-size:$font-size-h2;
	}
}
@media only screen and  (max-width: 540px) {
	.scroll-nav-holder {
		display:none;
	}
	.inline-facts {
	    width:100% !important;
	}
	.hero-wrap-item h1 {
		font-size:$font-size-h1 - 15px;
	}
}