$main-font : 'Raleway',
sans-serif;
// $alternate-font:  'Montserrat', sans-serif;
$subtle-font: Georgia,
"Times New Roman",
Times,
serif;
$background-color: #50514F; // grey
$darken-color: #404040; // dark grey
$btn-text: #fff; // white
$title-color: #666; // light grey
$highlight-color: #247BA0; // blue
$font-size-h1: 64px;
$font-size-h2: 46px;
$font-size-h3: 20px;
$font-size-h4: 14px;
$font-size-h5: 13px;
$font-size-h6: 13px;
$font-size-para: 16px;
$font-size-buttons: 16px;